fastapi
uvicorn
sqlalchemy
supabase
python-dotenv
python-docx
pdfkit
reportlab
requests 
psycopg2-binary 
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
html2text
google-auth-oauthlib
google-auth-httplib2 